/* ==========================================
   CERTIFICATES
========================================== */

.certificates{

    padding:120px 20px;
}

.certificates-grid{

    width:min(var(--container),92%);

    margin:auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:25px;
}

.certificate{

    overflow:hidden;

    border-radius:18px;
}

.certificate img{

    width:100%;

    transition:.4s;
}

.certificate:hover img{

    transform:scale(1.05);
}