/* ==========================================
   GLOBAL
========================================== */

.container{
    width:min(1400px, 92%);
    margin:0 auto;
}

section{
    position:relative;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight:700;
    line-height:1.2;
    margin:0;
}

p{
    margin:0;
}

strong{
    font-weight:700;
}

.hidden{
    display:none !important;
}
